/* Your Website Styles */

body {
  background: url(http://allenranchweddings.files.wordpress.com/2013/01/2woodmp-background-tile.jpg?w=690);
  width: 1000px;
  margin: auto;
}

.begining {
	position: relative;
	float: right;
}

h1 {
  color: #1f001f;
  background: #d1d1d1;
  padding-left: 10px;
  font-family: 'Offside', cursive;
  font-weight: bold;
  font-size: 35px;
}

.head {
  color: white;
  padding-left: 20px;
  padding-right: 10px;
  font-weight: lighter;
  font-size: 20px;
}

.opener {
  float: left;
  position: relative;
  margin: 0 15px 0 10px;
  z-index: 100;
}

#beginning {
  background: rgba(94, 0, 124, 0.7);
  padding: 10px 0 48px 0;
  height: 286px;
}

h2 {
  position: relative;
  float: left;
  margin-left: -1px;
  color: white;
  font-family: 'Offside', cursive;
}

ul {
  text-align: center;
  padding: none;
  margin: 35px;
}

li {
  font-color: #000;
  display: inline;
  padding: 20px 0px;
  margin: 0px 20px;
  text-align: center;
}

a:link {
  color: yellow;
  background: #fff;
  padding: 20px;
  border: 5px solid yellow;
  font-family: 'Paprika', cursive;
}

a:visited {
  color: yellow;
  background: rgba(50, 50, 50, .2);
  padding: 20px;
  border: 5px solid yellow;
}

a:hover {
  color: #000;
  background: yellow;
  padding: 20px;
  border: 5px solid #fff;
  position: relative;
  bottom: -5px;
  right: -2px;
}

.second {
  background: rgba(94, 0, 124, 0.4);
}

.learn {
  float: left;
  position: relative;
  margin: 0 15px 0 20px;
}

h3 {
  font-family: 'Offside', cursive;
  font-size: 30px;
  font-weight: bolder;
  padding-left: 5px;
  padding-top: 5px;
  margin-bottom: 10px;
  color: white;
}

.fipar {
  margin-top: 0px;
  font-size: 17px;
  text-indent: 40px;
}

.info {
  background: lightgray;
  margin: 0 25px 0 40px;
  padding: 5px 10px 5px 10px;
}

p {
	font-family: 'Paprika', cursive;
}