/* Your Website Styles */

body {
  background: linear-gradient(to bottom, #F5FFF6 0%, #C2BCB7 100%) no-repeat center center fixed;
  width: 1000px;
  margin: auto;
}

.begining {
	position: relative;
	float: right;
}

h1 {
  color: #1f001f;
  background: #d1d1d1;
  padding-left: 10px;
  font-family: 'Offside', cursive;
  font-weight: bold;
  font-size: 35px;
}

.head {
  color: white;
  padding-left: 20px;
  padding-right: 10px;
  font-weight: lighter;
  font-family: 'Artifika', serif;
  font-size: 22px;
}

.opener {
  float: left;
  position: relative;
  margin: 0 15px 0 10px;
  z-index: 100;
}

#beginning {
  background: rgba(62, 0, 82, 0.7);
  padding: 10px 0 48px 0;
  height: 286px;
}

h2 {
  position: relative;
  float: left;
  margin-left: -1px;
  color: white;
  font-family: 'Offside', cursive;
}

ul {
  text-align: center;
  padding: none;
  margin: 35px;
}

li {
  font-color: #000;
  display: inline;
  padding: 20px 0px;
  margin: 0px 20px;
  text-align: center;
}

a:link,
a:visited {
  color: #47214C;
  background: #fff;
  padding: 20px;
  border: 5px solid #47214C;
  font-family: 'Paprika', cursive;
}

a:hover,
a:active {
  color: #47214C;
  background: #fff;
  padding: 20px;
  border: 5px solid #47214C;
  position: relative;
  bottom: -5px;
  right: -2px;
  box-shadow: -7px -7px 5px rgba(0, 0, 0, .65);
}

.second {
  background: rgba(94, 0, 124, 0.4);
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.learn {
  float: left;
  position: relative;
  margin: 0 15px 0 20px;
}

h3 {
  font-family: 'Offside', cursive;
  font-size: 30px;
  font-weight: bolder;
  padding-left: 5px;
  padding-top: 5px;
  margin-bottom: 10px;
  color: white;
}

.fipar {
  margin-top: 0px;
  font-size: 20px;
  text-indent: 40px;
  font-family: 'Artifika', serif;
}

.info {
  background: lightgray;
  height: 960px;
  margin: 0 25px 0 40px;
  padding: 5px 10px 5px 10px;
  box-shadow: 0 0 50px rgba(48, 0, 63, 1);
}

.believe {
  float: left;
  position: relative;
  margin: 0 15px 0 20px;
  width: 432px;
  border: 5px solid black;
}

#believe {
  font-family: 'Artifika', serif;
}

.wall {
  float: left;
  position: relative;
  width: 240px;
  border: 5px solid black;
  margin: 12px 20px 0 0;
}

#wall {
  font-family: 'Artifika', serif;
}

.girl {
  float: left;
  position: relative;
  width: 130px;
  border: 5px solid black;
  margin: 12px 20px 0 0;
}

#girl {
  font-family: 'Artifika', serif;
}

p {
	font-family: 'Paprika', cursive;
}

.bg {
  height: 1000px;
  position: fixed;
  top: 0px;
  margin: auto;
  left: 110px;
  z-index: -100000;
}