/* Your Website Styles */


/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}

body {
  background: url(http://allenranchweddings.files.wordpress.com/2013/01/2woodmp-background-tile.jpg?w=690);
/* Change to 1000px */
  width: 1000px;
  margin: auto;
}

h1 {
  color: #1f001f;
  background: #d1d1d1;
}

.head {
  color: white;
}

.opener {
  float: left;
  position: relative;
  margin: 0 15px 0 10px;
  z-index: 100;
}

.begining {
  position: relative;
  background: rgba(94, 0, 124, 0.7);
  padding: 10px;
}

h2 {
  position: relative;
  float: left;
  margin-left: 30px;
  color: white;
}

ul {
  text-align: center;
  padding: none;
  margin: 35px;
}

li {
  font-color: #000;
  display: inline;
  padding: 20px 0px;
  margin: 0px 20px;
  text-align: center;
  background: #94dbff;
}

a {
  color: rgba(94, 0, 124, 1);
  background: #fff;
  padding: 20px;
  border: 5px solid rgba(94, 0, 124, 1);
}

a:visited {
  color: #fff;
  background: rgba(94, 0, 124, 1);
  padding: 20px;
  border: 5px solid #fff;
}

a:hover {
  color: #fff;
  background: rgba(94, 0, 124, 1);
  padding: 20px;
  border: 5px solid #fff;
}

.second {
  background: rgba(94, 0, 124, 0.4);
}

.learn {
  float: left;
  position: relative;
  margin: 0 15px 0 20px;
}